:root{
    cursor: url(../cursors/cursor_general.cur),auto;
}
body{
    background: rgb(231, 230, 230);
}
html,body{
    margin:0;
    padding:0;
    height:100%;
    overflow:hidden;
}
a{
    color: black;
    text-decoration: none;
    z-index: 10;
}
a:hover,button:hover{
    cursor: url(../cursors/cursor_links.cur),auto;
}
.boton-volver{
    border: 2px solid rgb(0,191,237);
    border-radius: 100px;
    margin-top:10%;
    opacity: 1;
    width: 8%;
    height:5vh;
    background-color: rgb(226, 233, 241);
    transition: transform 0.2s ease-out;
}
#reflejo{
    background-color: rgb(255, 255, 255); 
    border-radius: 100px; 
    width:70%;
    margin-left:12%;
    height:1.5vh;
    filter: blur(2px); 
    opacity: 1;
}
.boton-volver:hover{
    transform: scale(1.1);
}